.pokeball{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../asset/pokeball.png');
    background-position: center;
    background-size: contain;
    margin: 0 20px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .pokeball-text{
    font-size: 36px;
    color: white;
    text-transform: capitalize;
    background-color: #eb212129;
    border-radius: 15px;
    padding: 0 15px;
  }